{% extends "base.html" %}
{% load static %}
{% load form_tags %}
{% block title %}Login - Kuripp{% endblock %}
{% block content %}
<div class="flex items-center justify-center py-16">
    <div class="w-full max-w-md">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-2xl font-bold mb-6 text-center text-primary">Login to Kuripp</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"input input-bordered w-full" }}
                </div>
                <div class="mb-6">
                    {{ form.password.label_tag }}
                    {{ form.password|add_class:"input input-bordered w-full" }}
                </div>
                {% if messages %}
                    <div class="mb-4">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} shadow-lg">
                                <div>
                                    <span>⚠️ {{ message }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="flex items-center justify-between">
                    <button class="btn btn-primary w-full" type="submit">Login</button>
                </div>
            </form>
            <p class="mt-4 text-center">Not a user? <a href="{% url 'signup' %}" class="text-blue-500 underline">Sign up here</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
