<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>Add Writing Session - Kuripp</title>
</head>
<body class="bg-background flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-2xl font-bold mb-6 text-center text-primary">Add Writing Session</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="flex items-center justify-between">
                    <button class="btn btn-primary w-full" type="submit">Add Session</button>
                </div>
            </form>
        </div>
    </div>
    <footer class="absolute bottom-2 w-full text-center text-sm text-secondary">
        Built by Rishikesh | Version 1.0.0
    </footer>
</body>
</html>
