{% extends "base.html" %}
{% block title %}Profile - Kuripp{% endblock %}
{% block content %}
<div class="container mx-auto py-8">
    <div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="flex justify-between items-center">
            <h2 class="text-2xl font-bold mb-6 text-center text-primary">{{ user.first_name }} {{ user.last_name }}</h2>
            <a href="{% url 'edit_profile' %}" class="btn btn-secondary">Edit Profile</a>
        </div>
        <div class="flex items-center justify-center">
            <img src="{% if profile.profile_image %}{{ profile.profile_image.url }}{% else %}https://api.dicebear.com/9.x/notionists/svg?seed={{ user.first_name }}{% endif %}" alt="Profile Picture" class="w-24 h-24 rounded-full mb-4">
        </div>
        <div class="text-center">
            <p class="text-lg">Currently in {{ profile.location }}</p>
            <p class="text-gray-600 mt-4">{{ profile.bio }}</p>
        </div>
        <div class="mt-6 text-center">
            <h3 class="text-xl font-bold">Analytics</h3>
            <p>Total Sessions: {{ number_of_sessions }}</p>
            <p>Average WPM: {{ avg_wpm }}</p>
            <p>Current Streak: {{ current_streak }}</p>
        </div>
    </div>
</div>
{% endblock %}
